<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('./partials/head'); %>
  </head>
  <body class="container">
    <h1 class="h3 mb-3 fw-normal">Hello, pathfinder friend</h1>
    <main class="form-signin">
      <form method="get" action="/auth">
        <h2 class="h3 mb-3 fw-normal">Please sign in</h2>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Login</button>
        </div>
      </form>
    </main>
  </body>
</html>
