html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell, Fira Sans, Droid Sans,
    Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

.overflow-wrap {
  word-wrap: break-word;
}

.accordion {
	--bs-accordion-active-bg: var(--bs-secondary-bg);
  --bs-accordion-active-color: var(--bs-secondary-text);
}

.btn-secondary {
  width: 100px;
}

.nav-link {
  color: var(--bs-secondary-text);
}