SSO_SESSION_SECRET=somesecret
SSO_AUTH_SERVER_URL=https://dev.loginproxy.gov.bc.ca/auth
SSO_REALM=standard
SSO_CLIENT_ID=<resource value from JSON>
SSO_CLIENT_SECRET=<credentials.secret value from JSON>
SSO_LOGOUT_REDIRECT_URI=http://localhost:3000